<div class='container'>
  <div class='about-us'><h2 class='text-center'>About<span> us</span></h2></div>
  <div class='row mock-learn'>
    <div class='col-md-8 mockup'></div>
    <div class='learn-mr col-md-4'>
      <p>Quisque feugiat lorem elementum elit fringilla malesuada. Sed cursus scelerisque ex ut mollis. Nullam congue porta suscipit.
        In non sem nunc. Mauris est mauris, tempus tincidunt eros ut, faucibus tristique urna.
        Cras lobortis diam felis, quis vestibulum sapien varius eget. </p>
        <button>Learn more</button>
    </div>
  </div>
</div>
