<div class="container">
  <div class="get-in-touch-logo">
    <h2>Get <span>in touch</span></h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form class="" action="index.html" method="post">
        <input type="text" name="name" placeholder="Your name">
        <input type="email" name="email" placeholder="Your email">
        <textarea name="name" rows="8" cols="40" placeholder="Your message"></textarea>
        <button id='submit' type="submit" name="name" value="Send email">Send email</button>
      </form>
    </div>
    <div class="col-md-6">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
         Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
      </p>
      <p class='address'>
          1600 Pennsylvania Ave NW, Washington,
          DC 20500, United States of America.
      </p>
      <p class='address'>M: (202) 456-1212</p>
      <p class='address'>T: (202) 456-1111</p>
      <div class="socials">
        <img src="../images/f1.png" alt="" width="75px" height="75px"/>
        <img src="../images/t.png" alt="" width="75px" height="75px"/>
        <img src="../images/g1.png" alt="" width="75px" height="75px"/>
      </div>

    </div>
  </div>
</div>
