<div class="container">
  <div class="our-team-logo">
    <h2>Our <span>team</span></h2>
  </div>
  <div class="manipulators">
    <img ng-click="prevSlide()" src="../images/arrow-left.png" alt="" />
    <img ng-click="nextSlide()" src="../images/arrow-right.png" alt="" />
  </div>
  <div class="row">
    <div class="slide col-md-4 col-xs-12 show ng" ng-hide="!isCurrentIndex({{slide.index}})" ng-repeat='slide in slides'>
      <div class="avatar">
        <img ng-src='{{slide.src}}'/>
      </div>
      <h2 class='text-center'>{{slide.title}}</h2>
      <p class='text-center'>{{slide.Job}}</p>
      <div class="smedia">
        <img src="../images/f.png" alt="" />
        <img src="../images/g.png" alt="" />
      </div>
    </div>
  </div>
</div>
