<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6" ng-repeat='number in numbers'>
        <h2 class='text-center'>{{number.number}}</h2>
        <p class='text-center'>{{number.subtext}}</p>
    </div>
  </div>
  <div class="slider">
     <div class="row">
       <img ng-repeat="quote in quotes" class="slide-animation center-block"
            ng-hide="!isSlideIndex($index)" ng-src="{{quote.image}}">
       <h3 class="text-center col-md-8 col-md-offset-2" ng-repeat="quote in quotes" ng-hide="!isSlideIndex($index)">{{quote.quote}}</h3>
     </div>
     <p class='text-center col-md-8 col-md-offset-2' ng-repeat="quote in quotes" ng-hide="!isSlideIndex($index)">{{quote.by}}</p>
     <nav class="nav">
       <div class="wrapper">
         <ul class="dots">
          <li class="dot" ng-repeat="quote in quotes" ng-click="setSlideIndex($index);">
            <img ng-hide="isSlideIndex($index)" ng-src="../images/Ellipse.png" alt="" />
            <img src="../images/Ellipse_Active.png" ng-hide="!isSlideIndex($index)" alt="" />
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
