@font-face {
  font-family: 'Existence Light';
  src: url('../content/fonts/Existence-Light.ttf');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('../content/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato Light';
  src: url('../content/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../content/fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../content/fonts/HelveticaNeueLTStd-Lt.otf');
}
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../content/fonts/HelveticaNeueLTStd-BdCn.otf');
}
body{
  max-width: 1900px;
  width: 100%;
}
/*------------------------HEADER---------------------*/
header{
  background: url('../images/Bhagaskara.png');
  background-position: -170px;
  background-position-y:-36px;
  padding-bottom: 5%;
}
header h1{
  padding-top: 10%;
  font-family: 'Existence Light';
  font-size: 5em;
  font-weight: 600;
  color:#fff;
}
header h1 span{
  color:#9f449b;
}
header h2{
  font-family: 'Existence Light';
  font-weight: 500;
  padding-top: 60px;
  color:#fff;
  font-size: 3em;
}
header h3{
  font-family: 'Existence Light';
  font-weight: 500;
  font-size: 1.5em;
  color:#fff;
}
.shapes-wrapper{
  font-family: 'Lato Regular';
  font-weight: 600;
  color:#fff;
  margin-left: 33%;
  margin-top: 8%;
}
.item-0{
  position: relative;
}
.item-0 img:nth-child(2){
  position: absolute;
  top:40px;
  left: 75px;
}
.item-0 span{
    position: absolute;
    top: 120px;
    left: 75px;
}
.shapes-wrapper-bottom{
  font-family: 'Lato Regular';
  font-weight: 600;
  color:#fff;
}
.item{
  position: relative;
}
.item img:nth-child(2){
  position: absolute;
  top:40px;
  left:72px;
}
.item span{
  position: absolute;
  top:120px;
  left:81px;
}
.item-0 img:first-child:hover,.item img:first-child:hover{
  background: url('../images/Shape2.png');
  opacity: 1;
  animation: fadeIn 0.2s linear;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.scroller{
  cursor: pointer;
  margin-left:47%;
}
.scroller img:hover{
  transition: translateX(30px);
}
/*------------------------END-HEADER---------------------*/
/*------------------------NAVIGATION---------------------*/
.navigation{
  height: 140px;
  padding-top:50px;
  font-family: 'Existence Light';
  font-weight: 600;
}
.navigation p{
  font-size: 2em;
}
.navigation p span{
  color:#9f449b;
}
.navigation .container .col-md-8{
  margin-top: 10px;
}
.navigation a{
  font-family: 'Lato Light';
  color:#000;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin-left: 5%;
  padding-top:20px;
}
.navigation a:hover{
  color:#9f449b;
  text-decoration: none;
}
/*------------------------END NAVIGATION---------------------*/
/*------------------------BHAGAINFO---------------------*/

.bhagainfo{
  background-color: #eeeeee;
  height: 700px;
  padding-top: 150px;
  font-family: 'Lato Light';
}
.bhagainfo .text-center{
  padding-top: 50px;
}
.bhagainfo .text-center h4{
  font-weight: 600;
}
.bhagainfo .text-center p{
  font-size: 1.1em;
  width: 175px;
  margin: auto;
}
.above{
  height: 190px;
  margin-left: 20%;
}
.image-0,.image-0:hover,.image-1,.image-1:hover,.image-2,.image-2:hover,.image-3,.image-3:hover{
  background-position-x: 45px;
  background-size: 70%;
}
.image-0{
  background: url('../images/heart-grey.png') no-repeat;
}
.image-0:hover{
  background: url('../images/heart-pink.png') no-repeat;
}
.image-1{
  background: url('../images/diamond.png') no-repeat;
}
.image-1:hover{
  background: url('../images/diamond-pink.png') no-repeat;
}
.image-2{
  background: url('../images/cup.png') no-repeat;
}
.image-2:hover{
  background: url('../images/cup-pink.png') no-repeat;
}
.image-3{
  background: url('../images/phone.png') no-repeat;
}
.image-3:hover{
  background: url('../images/phone-pink.png') no-repeat;
}


/*------------------------END BHAGAINFO---------------------*/
/*------------------------ABOUT---------------------*/

.about{
  font-family: 'Lato Light';
}
.about-us{
  position: relative;
  width: 300px;
  margin:100px auto 0 auto;
  height: 115px;
  background: url('../images/shape-about.png') no-repeat;
}
.about-us h2{
  position: absolute;
  top:10px;
  font-size: 3em;
  font-weight: 600;
  left:65px;
  font-family: 'Existence Light';
}
.about-us h2 span{
  color:#9f449b;
}
.mock-learn{
  margin-top: 100px;
}
.mockup{
  background: url('../images/mockup.png') no-repeat;
  height: 500px;
}
.learn-mr{
  height: 500px;
  font-size: 1.5em;
  font-family: 'Lato Light';
}
.learn-mr p{
  margin-bottom: 100px;
}
.learn-mr button{
padding: 25px 65px 25px 65px;
height: 70px;
border-radius: 4px;
background-color: #9b449f;
box-shadow: 0px 5px #6b2e68;
border: none;
color:#fff;
outline: none;
text-decoration: none;
}
.learn-mr button:hover{
  text-decoration: none;
  color:#fff;
  box-shadow:0px 5px 0px #5e295b;
}
.learn-mr button:active{
  text-decoration: none;
  box-shadow: 0 2px #6b2e58;
  transform: translateY(3px);
}

/*------------------------END ABOUT---------------------*/
/*------------------------STUDY---------------------*/
.study{
height:625px;
background: url('../images/Layer-4.png');
background-position-y:-560px;
}
.study img{
  padding-top: 10%;
  margin-left: 42%;
}
.study h2{
  padding-top: 10%;
  color:#fff;
  font-size: 2.5em;
}
/*------------------------END STUDY---------------------*/
/*------------------------OUR TEAM---------------------*/

.our-team{
height: auto;
}
.our-team-logo{
  position: relative;
  width: 300px;
  margin:100px auto 0 auto;
  height: 115px;
  background: url('../images/shape-about.png') no-repeat;
}
.our-team-logo h2{
  position: absolute;
  top:10px;
  font-size: 3em;
  font-weight: 600;
  left:65px;
  font-family: 'Existence Light';
}
.our-team-logo h2 span{
  color:#9b449f;
}
.avatar{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.avatar img{
  width:100%;

  position: absolute;
}
.slide{
  margin-top: 15%;
}
.slide.ng-enter{
  opacity: 0;
  transition: 0.5s linear all;
}
.slide.ng-enter.ng-enter-active{
  opacity: 1;
}
.slide.ng-leave{
  opacity: 1;
  transition: 0.5s linear all;
}
.slide.ng-leave.ng-leave-active{
  opacity: 0;
}
.slide h2{
  font-family: 'Lato Bold';
  font-weight: 600;
  font-size: 1.5em;
}
.avatar{
  margin-left: 11%;
}
.smedia{
  margin-left: 30%;
}
.smedia img:nth-child(2){
  margin-left: 15%;
}
.manipulators{
  margin-left: 42%;
  margin-top: 15%;
}
.manipulators img{
  cursor: pointer;
}

/*------------------------END OUR TEAM---------------------*/
/*------------------------OUR SKILLS---------------------*/
.our-skills{
  height: 730px;
  font-family: 'Lato Bold';
}
.our-skills-logo{
  position: relative;
  width: 300px;
  margin:10% auto 10% auto;
  height: 115px;
  background: url('../images/shape-about.png') no-repeat;
}
.our-skills-logo h2{
  position: absolute;
  top:10px;
  font-size: 3em;
  font-weight: 600;
  left:65px;
  font-family: 'Existence Light';
}
.our-skills-logo h2 span{
  color:#9b449f;
}
.our-skills .col-md-6 h2{
  font-size: 1.5em;
}
.our-skills .col-md-6{
  padding-top: 5%;
}
.our-skills .col-md-6 h2 span{
  float: right;
  font-family: 'Lato Light';
}


/*------------------------END OUR SKILLS---------------------*/
/*------------------------SERVICES---------------------*/
.service{
  height:625px;
  background: url('../images/Layer-4.png');
  background-position-y:-560px;
}
.service img{
  padding-top: 10%;
  margin-left: 42%;
}
.service img:nth-child(2){
  position: absolute;
  top:65px;
  left:55px;
}
.service h2{
  padding-top: 10%;
  color:#fff;
  font-size: 2.5em;
}
#service-image{
  position: relative;
}

/*------------------------END SERVICES---------------------*/
/*------------------------QUOTE SLIDER---------------------*/
.fusce-slider{
  height: 970px;
  background-color: #eeeeee;
  font-family: 'Helvetica Neue Light';
}
.fusce-slider h2{
  font-size: 3em;
}
.fusce-slider .slider p{
  font-family: 'Helvetica Neue Bold';
}
.fusce-slider .slider{
  color:#777777;
}
.fusce-slider .row{
  padding-top: 10%;
}
.fusce-slider ul {
  list-style-type: none;
  margin-top: 3%;
  margin-left: 43%;

}
.fusce-slider li {
    display: inline;
    cursor: pointer;
}

/*------------------------END QUOTE SLIDER---------------------*/
/*------------------------PORTFOLIO---------------------*/
.portfolio{
  height: auto;
}
.portfolio .container{
  background-color: #fff;
  margin-top: -5%;
}
.our-portfolio{
  position: relative;
  width: 300px;
  margin:10% auto 10% auto;
  height: 115px;
  background: url('../images/shape-about.png') no-repeat;
}
.our-portfolio h2{
  position: absolute;
  top:10px;
  font-size: 3em;
  font-weight: 600;
  left:35px;
  font-family: 'Existence Light';
}
.our-portfolio h2 span{
  color:#9b449f;
}
.portfolio .row a:first-child{
  margin-left: 35%;
}
.portfolio .row a{
  background-color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  color:#000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio .row a:hover{
  background-color: #9b449f;
  color:#fff;
  transition: 0.2s;
}
.wrapper-portfolio{
  margin-top: 10%;
  height: 880px;

  padding-bottom: 20%;
}
.overflow{
    overflow:hidden;
}
.wrapper-portfolio .col-md-4 h2{
  font-size: 1.5em;
}
.portfolio button{
padding: 25px 65px 25px 65px;
height: 70px;
margin-left:40%;
margin-top: 5%;
border-radius: 4px;
background-color: #9b449f;
box-shadow: 0px 5px #6b2e68;
border: none;
font-size: 1.5em;
color:#fff;
outline: none;
text-decoration: none;
}
.portfolio button:hover{
  text-decoration: none;
  color:#fff;
  box-shadow:0px 5px 0px #5e295b;
}
.portfolio button:active{
  text-decoration: none;
  box-shadow: 0 2px #6b2e58;
  transform: translateY(3px);
}

/*------------------------END PORTFOLIO---------------------*/
/*------------------------GET IN TOUCH---------------------*/
.get-in-touch{
  height: 1000px;
}
.get-in-touch-logo{
  position: relative;
  width: 300px;
  margin:10% auto 10% auto;
  height: 115px;
  background: url('../images/shape-about.png') no-repeat;
}
.get-in-touch-logo h2{
  position: absolute;
  top:10px;
  font-size: 3em;
  font-weight: 600;
  left:40px;
  font-family: 'Existence Light';
}
.get-in-touch-logo h2 span{
  color:#9b449f;
}
::-webkit-input-placeholder {font-family: 'Lato Light';font-weight: 600;color:#000;}

.get-in-touch input{
  padding: 10px 20px;
  width: 80%;
  margin-bottom: 5%;
}
.get-in-touch textarea{
  width: 80%;
  padding: 10px 20px;
}
#submit{
padding: 25px 65px 25px 65px;
height: 70px;
margin-top: 5%;
border-radius: 4px;
background-color: #9b449f;
box-shadow: 0px 5px #6b2e68;
border: none;
font-size: 1.5em;
color:#fff;
outline: none;
text-decoration: none;
}
#submit:hover{
  text-decoration: none;
  color:#fff;
  box-shadow:0px 5px 0px #5e295b;
}
#submit:active{
  text-decoration: none;
  box-shadow: 0 2px #6b2e58;
  transform: translateY(3px);
}
.get-in-touch p:first-child{
  font-family: 'Helvetica Neue Light';
}
.get-in-touch p{
  font-size: 1.5em;
}
.address{
  font-family: 'Helvetica Neue Bold';
}
.socials{
  margin-top: 10%;
}
.socials img{
  margin-left: 5%;
}
.socials img:first-child{
  margin-left: 0;
}
/*------------------------END GET IN TOUCH---------------------*/
/*------------------------FOOTER---------------------*/
footer p{
    font-family: 'Existence Light';
    font-weight: 600;
    font-size: 2.5em;
  }
footer span{
    color:#9f449b;
  }
}
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
/*------------------------END FOOTER---------------------*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9b449f;
    -webkit-box-shadow: inset 0 0 6px #9b449f;
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color:#9b449f;
}
/*----------------------------------MEDIA QUERIES--------------------------*/
@media(max-width:600px){
  .shapes-wrapper,.shapes-wrapper-bottom{
    margin-left: inherit;
    display: none;
  }
  .service img{
    margin-left: 35%;
  }
  .scroller{
    margin:40%;
  }
  .mockup{
    display: none;
  }
  .above{
    display: none;
  }
  .bhagainfo .text-center {
    padding: 0!important;
    margin-bottom: 10%;
  }
  .avatar{
    display: none;
  }
  .manipulators {
    margin-left: 30%;
  }
  .smedia {
    margin-left: 30%!important;
  }
}
@media(max-width:768px){
  .portfolio .row a {
    display: none;
  }
}
@media(max-width:995px){
  .avatar {
    margin-left: 34%;
  }
  .smedia {
    margin-left: 39%;
  }
  .above{
    margin-left: 30%!important;
  }
  .item-0,.item{
    margin-left: 20px;
  }
  .shapes-wrapper{
    margin-left: 0;
  }
  .bhagainfo{
    padding-top:50px;
    height: auto;
  }
  .bhagainfo .center-block{
    margin-right: 0;
  }
  .bhagainfo .text-center{
    padding-top: 0;
    padding-left: 45px;
  }
  .wrapper-portfolio{
    height: 480px;
  }
  .portfolio .row a:first-child {
    margin-left: 25%;
  }
  .portfolio button{
    margin-left: 25%;
  }
  .portfolio img{
    height: auto;
  }
  .get-in-touch{
    height: auto;
    padding-bottom: 10%;
  }
  .get-in-touch .col-md-6:nth-child(2){
    margin-top: 10%;
  }
  .fusce-slider ul{
    margin-left: 38%!important;
  }
}
@media (max-width:1300px) and (min-width:768px) {
  .above{
    margin-left: 10%;
  }
  .fusce-slider ul{
    margin-right: 17%;
    margin-left: 43%;
  }
}
